<main class="py-6 px-12 sm:p-6 md:py-12 md:px-20">
  <div class="mx-auto grid grid-cols-1 lg:max-w-1xl lg:gap-x-10 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 text-lg font-semibold text-white sm:text-slate-900 md:text-2xl dark:sm:text-white"><a href="{{ '/' | url }}" title="{{metadata.description}}">{{ metadata.title }}</a></h1>
      <p class="text-sm leading-4 font-medium text-white sm:text-slate-500 dark:sm:text-slate-400">{{ metadata.description }}</p>
    </div>
    <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img src="{{metadata.cover}}" alt="{{metadata.description}}" class="w-full h-60 object-cover rounded-lg sm:col-span-1 lg:col-span-full">
      </div>   
    <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      {% if btn %}<a href="{{btnlink}}" type="button" class="bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">{{btn}}</a>{% endif %}
    </div>
    <p class="mt-4 text-sm leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-400">
      {{info}}
    </p>
  </div>
</main>